
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notebooks</h2>
<h2>Escolha uma das opções abaixo!</h2>
<ul>
    <li>
        <a href="/Notebook/Create">Cadastrar</a> <br />
    </li>
    <li>
        <a href="/Notebook/Read">Lista de Notebooks</a>
    </li>
</ul>
