@{
    ViewBag.Title = "Home Page";
}
<h1>Bem Vindos!</h1>
<h2>Escolha uma das opções abaixo!</h2>

<ul>
    <li>
        <a href="/Jogos">Jogos</a> <br />
    </li>
    <li>
        <a href="/Notebook">Notebooks</a>
    </li>
</ul>
