
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jogos</h2>
<h2>Escolha uma das opções abaixo!</h2>

<ul>
    <li>
        <a href="/Jogos/Create">Cadastrar</a> <br />
    </li>
    <li>
        <a href="/Jogos/Read">Lista de Jogos</a>
    </li>
</ul>


